:host {
    overflow: hidden;
    display: block;
    min-height: 100dvh;
}

.header {
    position: relative;
    z-index: 1;
}

.background-component,
.secondary-background {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    z-index: 0;
}

.background-component {
    transition: opacity 200ms, height 200ms, min-height 200ms, border-radius 200ms;
}

.secondary-background {
    height: 1dvh;
    transition: filter 200ms;
    z-index: -1;
}

.change-btn {
    position: absolute;
    bottom: calc(100svh - 100dvh);
    right: 5px;
    content: '';
    z-index: 10;
}

.layout-content {
    height: calc(calc(100svh - 100dvh) - 43px);
    padding-bottom: 65px;
    position: relative;
}

.navigation {
    position: relative;
    z-index: 2;

    &.lateral {
        position: absolute !important;
        content: '';
        bottom: calc(calc(100svh - 100dvh) + 55px);
        width: calc(45px + 0.5rem);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 0.25rem;
        height: calc(100% - 98px);

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 0.5rem;
        transition: width 200ms, padding 200ms;

        &.left {
            left: 0;
            align-items: flex-start;
        }

        &.right {
            right: 0;
            align-items: flex-end;
        }

        &.show-content {
            width: 100% !important;
            padding: 0;
            z-index: 10;
            overflow: hidden;

            &~.background-component {
                height: calc(100dvh - var(--navigation-content-height));
                min-height: calc(100dvh - var(--navigation-content-height));
                border-bottom-left-radius: 0.75rem;
                border-bottom-right-radius: 0.75rem;
            }

            &~.secondary-background {
                filter: blur(15px);
            }
        }
    }


    &.top {
        position: relative;
    }

    &.bottom {
        position: relative;
    }
}

.content {
    position: absolute;
    z-index: 2;
    content: '';
    width: calc(100% - 120px);
    bottom: 55px;
    left: 0;
    margin: 0 60px;
}