<div class="ap-content" [ngStyle]="styleInner" (click)="click($event)">
    <div class="flex-center w-100 overflow-scroll" #component>
        {{data.button.token}} - {{data.button.name? data.button.name : data.button.index}}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {{data.button.token}} - {{data.button.name? data.button.name : data.button.index}}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {{data.button.token}} - {{data.button.name? data.button.name : data.button.index}}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {{data.button.token}} - {{data.button.name? data.button.name : data.button.index}}
        <br><br><br>
    </div>
</div>