:host {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;

    display: flex;
    overflow: hidden;

    &.left {
        flex-direction: column-reverse;
        bottom: calc(calc(100svh - 100dvh) + 55px);
        left: 0;
        z-index: 11;
        transition: width 200ms;

        .ap-content {
            width: calc(100% - 45px) !important;
            height: 0;
            right: 0;
            bottom: calc(100svh - 100dvh);
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;

            transform: translateY(var(--translate));
        }
    }

    &.right {
        flex-direction: column-reverse;
        bottom: calc(calc(100svh - 100dvh) + 55px);
        right: 0;
        z-index: 11;
        transition: width 200ms;

        .ap-content {
            width: calc(100% - 45px) !important;
            height: 0;
            left: 0;
            bottom: calc(100svh - 100dvh);
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;

            transform: translateY(var(--translate));
        }
    }

    &.top {
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 11;
        transition: height 200ms;

        .ap-content {
            height: 75dvh;
            left: 0;
            top: 45px;
            border-bottom-right-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;

            transform: translateX(var(--translate));
        }
    }

    &.bottom {
        padding-bottom: 45px;
        flex-direction: column;
        bottom: calc(100svh - 100dvh);
        left: 0;
        z-index: 11;
        transition: height 200ms;

        .ap-content {
            height: 75dvh;
            left: 0;
            bottom: calc(calc(100svh - 100dvh) + 45px);
            border-top-right-radius: 0.75rem;
            border-top-left-radius: 0.75rem;

            transform: translateX(var(--translate));
        }
    }

    .ap-content {
        position: absolute;
        transition: left 200ms, bottom 200ms, min-height 200ms, height 200ms, width 200ms, min-width 200ms;

        background: rgba(255, 255, 255, .65);
        backdrop-filter: blur(6px);

        display: flex;
        flex-direction: column;

        overflow: hidden;
    }

    &.sidebar {
        .ap-content {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0.75rem;
        }

        &.top {
            .ap-content {
                top: 0;
            }
        }

        &.bottom {
            .ap-content {
                bottom: calc(100svh - 100dvh);
                padding-bottom: 45px;
            }
        }
    }
}