:host {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    display: flex;
    overflow: hidden;

    &.left {
        padding-left: 45px;
        flex-direction: column-reverse;
        bottom: 0;

        .ap-content {
            width: calc(100% - 45px) !important;
            right: 0;
            bottom: 0;
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;

            transform: translateY(var(--translate));
        }
    }

    &.right {
        padding-right: 45px;
        flex-direction: column-reverse;
        bottom: 0;

        .ap-content {
            width: calc(100% - 45px) !important;
            left: 0;
            bottom: 0;
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;

            transform: translateY(var(--translate));
        }
    }

    &.top {
        padding-top: 45px;
        flex-direction: column;
        top: 0;

        .ap-content {
            height: calc(100dvh - 98px);
            left: 0;
            top: 45px;
            border-bottom-right-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;

            transform: translateX(var(--translate));
        }
    }

    &.bottom {
        padding-bottom: 45px;
        flex-direction: column;
        bottom: 0;

        .ap-content {
            height: calc(100dvh - 98px);
            left: 0;
            bottom: 45px;
            border-top-right-radius: 0.75rem;
            border-top-left-radius: 0.75rem;

            transform: translateX(var(--translate));
        }
    }

    .ap-content {
        position: absolute;
        transition: left 200ms, bottom 200ms, min-height 200ms, height 200ms, width 200ms, min-width 200ms;

        background: rgba(255, 255, 255, .50);
        backdrop-filter: blur(6px);

        display: flex;
        flex-direction: column;

        overflow: hidden;
    }

    &.sidebar {
        width: 70%;
        padding: 0;
        
        .ap-content {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0.75rem;
        }

        &.top {
            height: calc(100dvh - 55px) !important;

            .ap-content {
                top: 0;
            }
        }

        &.bottom {
            height: calc(100dvh - 55px) !important;

            .ap-content {
                bottom: 0;
            }
        }
    }
}