<div #options class="w-100 d-flex flex-row btn-translate" [ngClass]="{
    'opened': opened,
    'justify-content-center' : isCentered,
    'justify-content-start' : !isCentered
    }" id="options_top">
    <ng-container *ngFor="let m of _menu">
        <app-button-menu [button-data]="m" (expanding)="toggleVisibilityOnCollapse($event, 'event')"
            [@hideMenuHorizontal]="m.show ? 'opened-menu' : 'hidden-menu'" [position]="position"
            (selectedAction)="activeButtonChange.emit($event)" [direction]="'horizontal'"></app-button-menu>
    </ng-container>
</div>

<app-icon [icon]="'other'" class="svg-icon svg-icon-2x nav-open-icon" [class.hidden-side]="!_isSide"></app-icon>