:host .ft-container.with-navigation {
    margin-right: 20px;
}

.ft-logo {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    top: 0;
    left: 0.25rem;
    transition: opacity 200ms, top 200ms;
    opacity: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
        width: 80%;
        height: 80%;
    }

    &.showing {
        opacity: 1;
    }
}

:host {
    &.top .ft-logo.showing {
        top: 50px;
        align-items: flex-start;
    }

    &.bottom .ft-logo.showing {
        top: -50px;
        align-items: flex-end;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .title {
        font-size: 0.85rem;
        font-weight: bold;
    }

    .description {
        font-size: 0.70rem;
    }
}

.change-btn {
    z-index: 10;
}