:host .ft-container.with-navigation {
    margin-right: 20px;
}

.ft-logo {
    width: 0px;
    height: 45px;
    transition: width 200ms;

    &.showing {
        width: 45px;
        margin-right: 0.5rem;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .title {
        font-size: 0.85rem;
        font-weight: bold;
    }

    .description {
        font-size: 0.70rem;
    }
}

.change-btn {
    z-index: 10;
}