:host {
    position: relative;
    margin: .25rem 0;
    transition: opacity 400ms 200ms, transform 200ms;

    .bm-main-icon {
        height: 100%;
        transition: all 200ms;
    }

    .bm-collapse-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s;
    }

    .bm-options {
        opacity: 0;
        overflow: hidden;
        transition: opacity 100ms;

        .bm-option {
            transition: color 200ms, transform 200ms;

            .text {
                font-size: .55rem;
                font-weight: bold;
            }

            &.active {
                color: #666;
                transform: scale(1.3) translateX(calc(var(--nav-lat-position) * 5px));
            }
        }
    }

    &.ellapsed {
        height: auto;

        .bm-collapse-wrapper {
            grid-template-rows: 1fr;
        }

        .bm-options {
            opacity: 1;
            overflow: visible;
            margin-bottom: 1.5rem;
        }

        .bm-main-icon {
            transform: scale(0.75);
        }
    }

    &.hidden-button {
        height: 0px !important;
        overflow: hidden;
        min-height: 0px;
        padding: 0;
        margin: 0 !important;
    }
}