:host {
    position: relative;
    margin: .25rem 0;
    transition: opacity 400ms 200ms, transform 200ms;

    .main-icon {
        height: 100%;
        transition: all 200ms;
    }

    .collapse-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s;
    }

    .options {
        opacity: 0;
        overflow: hidden;
        transition: opacity 100ms;

        .text {
            font-size: .55rem;
            font-weight: bold;
        }
    }

    &.ellapsed {
        height: auto;

        .collapse-wrapper {
            grid-template-rows: 1fr;
        }

        .options {
            opacity: 1;
            margin-bottom: 1.5rem;
        }

        .main-icon {
            transform: scale(0.75);
        }
    }

    &.hidden-button {
        height: 0px !important;
        overflow: hidden;
        min-height: 0px;
        padding: 0;
        margin: 0 !important;
    }
}