<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>
<div class="btn btn-icon glass-btn p-1 btn-translate" style="--nav-lat-position: {{position === 'left' ? -1 : 1}}"
    [ngClass]="{'opened': opened}" (click)="$event.stopPropagation()">
    <img src="./assets/images/volvo.webp" alt="" class="h-100">
</div>