<div #options class="d-flex flex-column-reverse btn-translate" [ngClass]="{'opened': opened}"
    style="--nav-lat-position: {{position === 'left' ? -1 : 1}}">
    <ng-container *ngFor="let m of _menu">
        <app-button-menu [button-data]="m" (expanding)="toggleVisibilityOnCollapse($event, 'event')"
            [@hideMenu]="m.show ? 'opened-menu' : 'hidden-menu'" [position]="position"
            (selectedAction)="optionSelected($event)" ></app-button-menu>
    </ng-container>
</div>

<app-action-panel *ngIf="!!activeButton" class="action-panel" [position]="position" [data]="activeButton"
    [ngStyle]="styleContent" [min-heigh-opened]="styleContent['minHeight']"
    (emitHeight)="updateHeightAfterContentChange($event)"></app-action-panel>